# ============================================
# Tensorflow Python
# La ultima versión de tensorflow con gpu para windows es la 2.10.0, 
# nosotros requerimos la verisón 2.14 por lo debemos usar el WSL de windows.
tensorflow==2.14.0
# Keras
keras==2.14.0
# ============================================