# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# Keras
keras
# Tensorflow Python
tensorflow==2.14.0
# PyTorch
torch
# PyTorch extension
torchshow
torchvision
torchinfo
# PyTorch Lightning
pytorch-lightning

# Para ciencias de datos
dnnlib-util
numpy
pandas
scikit-learn
scikit-image

# ART for defense test
adversarial-robustness-toolbox

# For sift, and descriptors
opencv-python
opencv-contrib-python

# Charts
matplotlib
seaborn
SciencePlots

# Utils
openpyxl
pillow # PIL
tqdm

# Jupyter
ipykernel

tabulate