# This requirements are for development and testing only, not for production.
# unittest # Python incluye esto de forma predeterminada, hay que eliminarlo
pytest
pytest-cov
coverage
mypy

onnx
onnxruntime
tf2onnx
onnx2pytorch
